Aki_Data/
BattlEye/
EscapeFromTarkov_Data/
Logs/
MonoBleedingEdge/
NLog/
BepInEx/cache/
BepInEx/LogOutput.log
user/cache/
user/launcher/
user/logs/
user/profiles
user/sptsettings/
Aki.Launcher.exe
Aki.Server.exe
doorstop_config.ini
EscapeFromTarkov.exe
LICENCE-BEPINEX.txt
LICENCE-ConfigurationManager.txt
LICENSE-Launcher.txt
LICENSE-Modules.txt
LICENSE-Server.txt
SPTInstaller.exe
UnityPlayer.dll
winhttp.dll
spt-aki-installer*
ConsistencyInfo
EscapeFromTarkov_BE.exe
Uninstall.exe
UnityCrashHandler64.exe