## Settings file was created by plugin Sense v1.1.0
## Plugin GUID: com.Amanda.Sense

[AmandsSense]

# Setting type: Boolean
# Default value: true
EnableSense = true

# Setting type: Boolean
# Default value: false
AlwaysOn = true

# Setting type: KeyboardShortcut
# Default value: F
SenseKey = None

# Setting type: Boolean
# Default value: true
DoubleClick = true

# Setting type: Single
# Default value: 0.5
DoubleClickDelay = 0.5

# Setting type: Single
# Default value: 2
Cooldown = 2

# Setting type: Single
# Default value: 20
Speed = 20

# Setting type: Single
# Default value: 10
Duration = 10

# Setting type: Int32
# Default value: 10
Radius = 15

# Setting type: Int32
# Default value: 20
Deadbody Radius = 20

# Setting type: Int32
# Default value: 20
AlwaysOnRadius = 15

# Setting type: Int32
# Default value: 20
AlwaysOnDeadbody Radius = 20

# Setting type: Single
# Default value: 2
AlwaysOn Frequency = 2

# Setting type: Single
# Default value: 3
MaxHeight = 3

# Setting type: Single
# Default value: -1
MinHeight = -1

# Setting type: Int32
# Default value: 200
Limit = 200

# Setting type: Boolean
# Default value: true
NonFleaAmmo = true

# Setting type: Boolean
# Default value: true
useDof = true

# Setting type: Boolean
# Default value: false
dofForceEnableMedian = false

# Setting type: Single
# Default value: 157
dofBokehFactor = 157

# Setting type: Single
# Default value: 2
dofFocusDistance = 2

# Setting type: Single
# Default value: 0.5
dofRadius = 0.5

# Setting type: Single
# Default value: 0.5
dofRadiusEndSpeed = 0.5

# Setting type: Single
# Default value: 2
dofRadiusStartSpeed = 2

# Setting type: Vector2
# Default value: {"x":-0.07000000029802323,"y":0.07000000029802323}
Size = {"x":-0.07000000029802323,"y":0.07000000029802323}

# Setting type: Vector2
# Default value: {"x":-0.15000000596046449,"y":0.15000000596046449}
NewSize = {"x":-0.15000000596046449,"y":0.15000000596046449}

# Setting type: Vector2
# Default value: {"x":-0.30000001192092898,"y":0.30000001192092898}
AlwaysOnSize = {"x":-0.30000001192092898,"y":0.30000001192092898}

# Setting type: Single
# Default value: 4
SizeClamp = 4

# Setting type: Single
# Default value: 0.15
NormalSize = 0.15

# Setting type: Single
# Default value: 2
StartOpacitySpeed = 2

# Setting type: Single
# Default value: 2
OpacitySpeed = 2

# Setting type: Single
# Default value: 0.3
LightIntensity = 0.3

# Setting type: Single
# Default value: 5
LightRange = 5

# Setting type: Single
# Default value: 99
AudioDistance = 99

# Setting type: Int32
# Default value: 100
AudioRolloff = 100

# Setting type: Single
# Default value: 0.5
AudioVolume = 0.5

[Colors]

# Setting type: Color
# Default value: FF0303CC
RareItemsColor = FF0303CC

# Setting type: Color
# Default value: FF0333CC
WishListItemsColor = FF0333CC

# Setting type: Color
# Default value: FF1F03CC
NonFleaItemsColor = FF1F03CC

# Setting type: Color
# Default value: FFFF03CC
KappaItemsColor = FFFF03CC

# Setting type: Color
# Default value: 5C2EFFCC
LootableContainerColor = 5C2EFFCC

# Setting type: Color
# Default value: D6E0F2CC
ObservedLootItemColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
OthersColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
BuildingMaterialsColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
ElectronicsColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
EnergyElementsColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
FlammableMaterialsColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
HouseholdMaterialsColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
MedicalSuppliesColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
ToolsColor = D6E0F2CC

# Setting type: Color
# Default value: 5C2EFFCC
ValuablesColor = 5C2EFFCC

# Setting type: Color
# Default value: D6E0F2CC
BackpacksColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
BodyArmorColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
EyewearColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
FacecoversColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
GearComponentsColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
HeadgearColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
HeadsetsColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
SecureContainersColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
StorageContainersColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
TacticalRigsColor = D6E0F2CC

# Setting type: Color
# Default value: 1A59A6CC
FunctionalModsColor = 1A59A6CC

# Setting type: Color
# Default value: 26801ACC
GearModsColor = 26801ACC

# Setting type: Color
# Default value: B2331ACC
VitalPartsColor = B2331ACC

# Setting type: Color
# Default value: D6E0F2CC
AssaultCarbinesColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
AssaultRiflesColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
BoltActionRiflesColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
GrenadeLaunchersColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
MachineGunsColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
MarksmanRiflesColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
MeleeWeaponsColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
PistolsColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
SMGsColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
ShotgunsColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
SpecialWeaponsColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
ThrowablesColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
AmmoPacksColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
RoundsColor = D6E0F2CC

# Setting type: Color
# Default value: 21A8FFCC
DrinksColor = 21A8FFCC

# Setting type: Color
# Default value: D6E0F2CC
FoodColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
InjectorsColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
InjuryTreatmentColor = D6E0F2CC

# Setting type: Color
# Default value: 4CFF21CC
MedkitsColor = 4CFF21CC

# Setting type: Color
# Default value: D6E0F2CC
PillsColor = D6E0F2CC

# Setting type: Color
# Default value: FF0303CC
ElectronicKeysColor = FF0303CC

# Setting type: Color
# Default value: D6E0F2CC
MechanicalKeysColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
InfoItemsColor = D6E0F2CC

# Setting type: Color
# Default value: FFFF03CC
QuestItemsColor = FFFF03CC

# Setting type: Color
# Default value: D6E0F2CC
SpecialEquipmentColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
MapsColor = D6E0F2CC

# Setting type: Color
# Default value: D6E0F2CC
MoneyColor = D6E0F2CC

