## Settings file was created by plugin Endurance v1.0.0
## Plugin GUID: Endurance

[Endurance]

## Requires Restart. Multiplier for how much Endurance XP is gained when overweight. 0 means no Endurance XP gain.
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 1
Endurance Multi = 0.5

