## Settings file was created by plugin DrakiaXYZ-QuestTracker v1.0.0
## Plugin GUID: xyz.drakia.questtracker

[1. General]

## Whether the panel is visible at raid start
# Setting type: Boolean
# Default value: false
Visible At Raid Start = true

## Key used to toggle the Quest Tracker panel
# Setting type: KeyboardShortcut
# Default value: I
Panel Toggle Key = I

[2. In Game]

## Whether to always include the current map's quests
# Setting type: Boolean
# Default value: false
Include Current Map Quests = true

## Whether to always exclude quests not for the current or 'Any' map
# Setting type: Boolean
# Default value: true
Exclude Other Map Quests = true

## Whether to temporarily show the list on objective progress
# Setting type: Boolean
# Default value: true
Show On Objective Progress = true

## Whether to automatically hide the list after a timeout
# Setting type: Boolean
# Default value: true
Auto Hide = true

## How long to show before hiding
# Setting type: Int32
# Default value: 5
# Acceptable value range: From 1 to 60
Auto Hide Timer = 5

## Whether to show the progress as a percentage, or numeric count
# Setting type: Boolean
# Default value: true
Progress As Percent = true

## Whether to show individual objectives as a percentage, or numeric count
# Setting type: Boolean
# Default value: false
Objectives As Percent = false

## Whether to show individual objetices
# Setting type: Boolean
# Default value: false
Show Objectives = true

[3. Display]

## The main font size
# Setting type: Int32
# Default value: 36
# Acceptable value range: From 12 to 92
Font Size = 36

## The objective font size
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 12 to 92
Objective Font Size = 20

